body {
  background-color: #EAF6F6;
}
hr {
  background-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;
}
h1{
  color: #1687A7;
}
h2,h3,h4{
  color:#66BFBF;
}
